@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

$colors:(
  basic_dark:(
    main_bg:#222222,
    main_timer:#bf0504,
    font_main:#f2f2f2,
    font_point:#e84c3c,
    sub_point:#beaaa9,
  ),
  basic_light:(
    main_bg:#F1EBC7,
    main_timer:#E84C3C,
    font_main:#400201,
    font_point:#DA0B42,
    sub_point:#35889A,
  ),
  ocean:(
    main_bg:#031727,
    main_timer:#18C29C,
    font_main:#88F9D4,
    font_point:#0B877D,
    sub_point:#126872,
  ),
  garden:(
    main_bg:#567317,
    main_timer:#D6D979,
    font_main:#F2F2F2,
    font_point:#BFAC95,
    sub_point:#86A614,
  ),
  spring:(
    main_bg:#F8C053,
    main_timer:#EEEE59,
    font_main:#D2EA42,
    font_point:#A76CC8,
    sub_point:#EFE14F,
  ),
  tachometer:(
    main_bg:#03060D,
    main_timer:#D8042C,
    font_main:#8CB9F2,
    font_point:#F24465,
    sub_point:#030A8C,
  ),
  oblivion:(
    main_bg:#0B0D0A,
    main_timer:#40040E,
    font_main:#F2F2F2,
    font_point:#828C81,
    sub_point:#4F5951,
  ),
);

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.d_none{
  display: none;
}
body{
  font-family: 'Gothic A1', sans-serif;
  width: 100%;
  height: 100%;
  background: #222222;
  color: #f2f2f2;
}
.logo{
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 1000;
  img{
    width: 150px;
  height: 50px;
  object-fit: contain;
  }
}
// 타이머 원 위에 블러 입히기 위한 스타일
.effect_on{
  .blur{
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    // z-index: 1;
    // display: none;
  }
}

.input_form{
  display: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  // transform: translate(-50%,-50%);
  input{
    width: 80%;
    // height: 3em;
    background: none;
    border: 0;
    border-bottom: 2px solid #e84c3c;
    color: #f2f2f2;
    font-size: 2em;
    font-weight: lighter;
    // text-align: center;
    &::placeholder{
      color: #e84c3c;
      font-weight: 700;
    }
    &:focus{
      outline: none;
    }
  }
}
.main_button{
    background: none;
    border: none;
    color: #e84c3c;
    font-size: 2rem;
}

// 시간관련 문구 및 명언 표시스타일 - 유지보수를 위해 남겨둠
.quote{
  text-align: center;
  font-weight: 100;
  font-size: 2.5rem;
}

// 돌아가고 있는 타이머의 할일 이름과 입력된 시간(분)
.list-output{
  position: fixed;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  ul{
    li{
      &:nth-child(1){
        text-transform: uppercase;
        font-size: 50px;
        font-weight: 900;
        letter-spacing: 5px;
      }
      &:nth-child(2){
        font-size: 30px;
        font-weight: 600;
        margin: 0;
        padding: 0;
        color: #4F5951;
      }
    }
  }
}


// 추가된 할일들의 목록
.todo_list{
  position: fixed;
  left: 40px;
  bottom: 40px;
  overflow: hidden;
  font-size: 1.2em;
}
.list_title_wrap{
  display: flex;
  justify-content: space-between;
  // margin-bottom: 20px;
}
.list_title{
  font-weight: 900;
  font-size: 2em;
  color: #e84c3c;
}
.added_list{
  width: 350px;
  height: 280px;
  overflow-y: scroll;
  // &:hover{
  //   overflow-y: scroll;
  // }
  &::-webkit-scrollbar{
    width: 8px;
  }
  &::-webkit-scrollbar-thumb{
    background: #e84c3c;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  &::-webkit-scrollbar-track{
    background: #4F5951;
    border-radius: 10px;
  }
}
.added_works{
  display: flex;
  align-items: center;
  justify-content: space-between;
  >li{
    &:nth-child(1){
      flex: 10;
    }
    &:nth-child(2){
      flex: 1;
    }
  }

  // 삭제버튼 - 기존 수정 및 삭제 버튼
  button{
    background: none;
    color: #f2f2f2;
    border: 0;
    margin: 0;
    padding: 0;
  }
  // 입력된 할일의 이름과 시간 표시 항목
  .setlist{
    display: flex;
    li{
      flex: 1;
      text-align: center;
    }
  }
}

// 할일의 리스트 밑에 있었던 추가기능 항목 - 유지보수를 위해 남겨둠
.add_todo{
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2em;
  span{
    text-transform: uppercase;
    font-weight: 900;
    font-size: .5em;
    color: #e84c3c;
    text-indent: 5px;
  }
  input{
    background: none;
    border: none;
    color: #f2f2f2;
    border-bottom: 2px solid #e84c3c;
    font-weight: 100;
    font-size: 18px;
  }
  input::placeholder{
    text-transform: uppercase;
    color: #e84c3c;
  }
  input:focus{
    outline: none;
  }
  :nth-child(2){
    width: 180px;
  }
  :nth-child(3){
    width: 50px;
  }
  button{
    background: none;
    border: none;
    color: #e84c3c;
    font-size: 1.25em;
  }
}
// 테마(컬러웨이) 변경 기능을 위한 버튼 - 유지보수를 위해 남겨둠
.theme_btn{
  position: fixed;
  right: 30px;
  bottom: 30px;
  font-size: 1.85em;
  // z-index: 1000;
}
// 옵션버튼
.option_btn{
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2em;
  // z-index: 1000;
}
// ----------------------------------------

// 메인 타이머 스타일링
.example{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  // background: #bf0504;
  // border-radius: 50%;
}
#example-timer{
  width: 500px;
  height: 500px;
}
#ct-circle-container {
  width: 100%;
  height: 100%;
  svg {
    width:100%;
    height: 100%;
    transform: rotate(-90deg);
    circle {
      fill: none;
      stroke: #bf0504;
      stroke-dashoffset: 0;
      stroke-width: 50%;
    }
  }
}
// ----------------------------------------